<!DOCTYPE html>
<html>
<head>
  <title>AccountMultiTenancy</title>
  <%= stylesheet_link_tag    "account_multi_tenancy/application", media: "all" %>
  <%= javascript_include_tag "account_multi_tenancy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  Signed in as <%= current_user.email %>
<% end %>

<% flash.each do |k,v| %>
  <div class='flash <%= k %>'><%= v %></div>
<% end %>

<%= yield %>

</body>
</html>
